{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}

<div class="flex items-center justify-center bg-transparent">
    <!-- Большое окно слева -->
    <div class="w-3/4 h-[80vh] bg-white shadow-md rounded-3xl p-8 mr-8">
        <!-- Содержание большого окна -->
        <h2 class="text-2xl font-bold mb-6">О нас</h2>
        <p class="text-gray-700">Мы — ваш надежный партнер в достижении здоровья и фитнеса. Наш фитнес-клуб существует
            для вдохновления и поддержки вас на пути к лучшей версии себя. Вступайте в наше сообщество и начните свой
            путь к активной и здоровой жизни.</p>
    </div>

    <!-- Два меньших окна справа -->
    <div class="flex flex-col w-1/4">
        <div class="mb-4 h-1/2 bg-white shadow-md rounded-3xl p-8">
            <!-- Содержание первого маленького окна -->
            <h3 class="text-xl font-bold mb-4">Наша миссия</h3>
            <p class="text-gray-700">Мы стремимся создать уникальное пространство, где каждый человек может найти
                поддержку, мотивацию и индивидуальный подход к достижению своих фитнес-целей. Наша миссия — вдохновлять
                вас на активный образ жизни и помогать достигать ваших успехов.</p>
        </div>

        <div class="h-1/2 bg-white shadow-md rounded-3xl p-8">
            <!-- Содержание второго маленького окна -->
            <h3 class="text-xl font-bold mb-4">Наши ценности</h3>
            <p class="text-gray-700">В центре наших ценностей — забота о вашем благополучии, поддержка ваших усилий и
                создание дружественной обстановки. Мы верим в силу сообщества и стремимся создать место, где каждый член
                нашего клуба чувствует себя как дома.</p>
        </div>
    </div>
</div>

{% endblock %}