<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Главная</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li><a href="{{ url_for('home') }}">Главная</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <ul class="flex gap-5 mr-10">
                <li><a href="{{ url_for('logout') }}">Выход</a></li>
            </ul>
        {% else %}
            <ul class="flex gap-5 mr-10">
                <li><a href="{{ url_for('login') }}">Вход</a></li>
                <li><a href="{{ url_for('register') }}">Регистрация</a></li>
            </ul>
        {% endif %}
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>