{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}

<div class="flex items-center justify-center bg-transparent">
    <!-- Большое окно слева -->
    <div class="w-3/4 h-[80vh] bg-white shadow-md rounded-3xl p-8 mr-8">
        <!-- Содержание большого окна -->
        <h2 class="text-2xl font-bold mb-6">Добро пожаловать в наш фитнес-клуб</h2>
        <p class="text-gray-700">Добро пожаловать в наш уютный фитнес-клуб, где мы создаем здоровое и вдохновляющее
            пространство для достижения ваших фитнес-целей. У нас вы найдете все необходимое для заботы о своем теле и
            душе.</p>
    </div>

    <!-- Два меньших окна справа -->
    <div class="flex flex-col w-1/4">
        <div class="mb-4 h-1/2 bg-white shadow-md rounded-3xl p-8">
            <!-- Содержание первого маленького окна -->
            <h3 class="text-xl font-bold mb-4">Наши тренировки</h3>
            <p class="text-gray-700">Изучите наши разнообразные тренировки, разработанные опытными тренерами. Мы
                предлагаем уроки для всех уровней подготовки, от начинающих до продвинутых. Присоединяйтесь и получайте
                удовольствие от эффективных занятий!</p>
        </div>

        <div class="h-1/2 bg-white shadow-md rounded-3xl p-8">
            <!-- Содержание второго маленького окна -->
            <h3 class="text-xl font-bold mb-4">Наши мероприятия</h3>
            <p class="text-gray-700">Будьте в центре событий! Участвуйте в наших увлекательных мероприятиях и
                соревнованиях. Мы создаем дружелюбное сообщество, где каждый найдет свое место. Присоединяйтесь к нашим
                событиям и наслаждайтесь веселым общением!</p>
        </div>
    </div>
</div>

{% endblock %}